#slider_container_1 { 
    float: left; 
    width: 980px;
    -moz-border-radius: 10px 10px; 
    -webkit-border-radius: 10px 10px; 
    border-radius: 10px 10px; 
}

#SliderName{
	width: 1000px;
	height: 300px;
	margin: auto;
}

.SliderNamePrev{
	background: url(../../Image/slider/left.png) no-repeat center center;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 240px;
	left: 10px;
	text-decoration: none;
}

.SliderNameNext{
	background: url(../../Image/slider/right.png) no-repeat center center;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 240px;
	right: 10px;
	text-decoration: none;
}

.SliderNameDescription{
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	padding: 5px;
}

#SliderNameNavigation {
    padding-top: 135px;
    height: 15px; 
    text-align: center;
    -moz-border-radius: 6px 6px;
    background: #81BA3D;
    width:1000px;
}

#SliderNameNavigation a:link, #SliderNameNavigation a:active, #SliderNameNavigation a:visited, #SliderNameNavigation a:hover{
	margin: 0 2px;
	background: url(../../Image/slider/nav.png) no-repeat center center;
	font-size: 0px;
	line-height: 0px;
	padding: 12px;
	text-decoration: none;
}

#SliderNameNavigation a.active:link, #SliderNameNavigation a.active:active, #SliderNameNavigation a.active:visited, #SliderNameNavigation a.active:hover{
	background: url(../../Image/slider/nav_active.png) no-repeat center center;
}

.btnCerrar{
    position: absolute !important;
    left: 95% !important;
    display: block !important;
    z-index: 1 !important;
}


.btnAbrir{
    position: absolute !important;
    left: 80% !important;
    display: block !important;
    top: 2%;
}