.coin-slider {
	overflow: hidden;
	zoom: 1;
	width: 225px;
	height: 210px;
	margin-top: 5px;
	border: 2px solid #66C42F;
	background:#111;
}
.coin-slider a {
	text-decoration: none;
	outline: none;
	border: none;
}

.botones {
	/*background: url(../img/bg_banner.jpg);*/
	padding: 7px 0;
	width:99%;
	border: 1px solid #f0f0f0;
	overflow: hidden;
	overflow: hidden;
	border-radius:9px;
	-webkit-border-radius: 9px;
	-moz-border-radius:9px;
	-moz-box-shadow:0 0 2px #cccece;
	-webkit-box-shadow:0 0 2px #cccece;
	box-shadow:0 0 2px #cccece;
	margin:7px auto;
	display: none;
}
.cs-buttons {
	font-size: 0px;
	float: left;
	z-index: 1000;
}
.cs-buttons a {
	margin-left: 5px;
	height: 27px;
	width: 29px;
	float: left;
	text-indent: -1000px;
	left: -20px;
}

.cs-inactive{
	background: url(../img/pagination.png) right center no-repeat;
}
.cs-active {
	background: url(../img/pagination.png) left center no-repeat;
}

.cs-title {
	width: 545px;
	padding: 10px;
	background-color: #000000;
	color: #FFFFFF;
}

.cs-next{
	/*background: url(../img/right.png) no-repeat right;*/
	margin-right: 10px;
}

.cs-prev{
	margin-left: 10px;
	/*background: url(../img/left.png) no-repeat left;*/
}

.cs-prev, .cs-next {
	color: #FFFFFF;
	padding: 0px 10px;
	width: 40px;
	height: 58px;
	text-indent: -9999px;
}


.bx-next {
	position: absolute;
	top: 130px;
	right: -50px;
	/*background-image: url(../img/right.png);*/
	background-repeat: no-repeat;
	width: 40px;
	height: 58px;
}

.bx-prev {
	position: absolute;
	top: 130px;
	left: -50px;
	/*background-image: url(../img/left.png);*/
	background-repeat: no-repeat;
	width: 40px;
	height: 58px;
}
