﻿body 
{
	font-family: "Verdana";
	font-size: 9pt;
	color: #003300;
	margin:0px auto;
}

.cajaTextoNumero
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;
	vertical-align:middle
}
.cajaTextoNumerolargo
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;
	vertical-align:middle
}

.comboDireccionVia
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;
	vertical-align:middle
}	

.comboLetras
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;
	vertical-align:middle
}	

.comboBis
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;
	vertical-align:middle
}	

.comboSentido
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;
	vertical-align:middle
}	

.comboSentidolargo
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;
	vertical-align:middle
}
.comboDireccionManzana
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;
	vertical-align:middle
}	

.cajaTextoDireccion
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;
	width:350px;
	vertical-align:middle
}	

.vinculo
{
 display:block;
 vertical-align:middle;
 width:auto;
 padding:2px;
 border: solid 1px #E1E6FF;
 font-size:7pt;
 }

.cajaTextoGen
{
	font-family: "Verdana";
	font-size: 8pt;
	color: #333333;	
	vertical-align:middle
}