/*
*	RESIZER-BARS
*/
.ui-layout-resizer
{
    /* all 'resizer-bars' */
    background: #DDD;
    border: 1px solid #BBB;
    border-width: 0;
}
.ui-layout-resizer-drag
{
    /* REAL resizer while resize in progress */
}
.ui-layout-resizer-open:hover, /* hover-color to 'resize' */ .ui-layout-resizer-dragging
{
    /* resizer beging 'dragging' */
    background: #C4E1A4;
}
.ui-layout-resizer-dragging
{
    /* CLONED resizer being dragged */
    border: 1px solid #BBB;
}
.ui-layout-resizer-dragging-limit
{
    /* CLONED resizer at min or max size-limit */
    background: #E18D8D;
}

.ui-layout-resizer-closed:hover
{
    /* hover-color to 'slide open' */
    background: #EBD5AA;
}
.ui-layout-resizer-sliding
{
    /* resizer when pane was 'slid open' */
    opacity: 0.1; /* show only a slight shadow */
    filter: alpha(opacity=10);
}
.ui-layout-resizer-sliding:hover
{
    /* sliding resizer - hover */
    opacity: 1; /* on:hover, show the resizer-bar normally */
    filter: alpha(opacity=100);
}
/* sliding resizer - add 'outside-border' to resizer on:hover */
.ui-layout-resizer-north-sliding:hover
{
    border-bottom-width: 1px;
}
.ui-layout-resizer-south-sliding:hover
{
    border-top-width: 1px;
}
.ui-layout-resizer-west-sliding:hover
{
    border-right-width: 1px;
}
.ui-layout-resizer-east-sliding:hover
{
    border-left-width: 1px;
}


/*
*	TOGGLER-BUTTONS
*/
.ui-layout-toggler
{
    background-color: #999;
}
.ui-layout-resizer:hover .ui-layout-toggler
{
    filter: alpha(opacity=60);
    opacity: .60;
}
.ui-layout-resizer:hover .ui-layout-toggler:hover
{
    /* specificity */
    background-color: #FC6;
    filter: alpha(opacity=100);
    opacity: 1;
}
.ui-layout-toggler-north, .ui-layout-toggler-south
{
    border-width: 0 1px;
}
.ui-layout-toggler-west, .ui-layout-toggler-east
{
    border-width: 1px 0;
}
/* hide the toggler-button when the pane is 'slid open' */
.ui-layout-resizer-sliding .ui-layout-toggler
{
    display: none;
}
/*
	*	style the text we put INSIDE the east/west togglers
	*/
.ui-layout-toggler .content
{
    font-size: 12px;
    font-weight: bold;
    color: #666;
    padding-bottom: 0.35ex; /* to 'vertically center' text inside text-span */
}

.ui-layout-west
{
    background-color: #F1F9EC;
    width: 100%;
    height: 100%;
    line-height: 1.15em;
    padding: 0;
    margin: 0;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    
}




.toggler-west-open {
    background: #f4f5ff; /* Old browsers */
    background: -moz-linear-gradient(left,  #f4f5ff 0%, #81BA3D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4f5ff), color-stop(100%,#81BA3D)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f4f5ff 0%,#81BA3D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f4f5ff 0%,#81BA3D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f4f5ff 0%,#81BA3D 100%); /* IE10+ */
    background: linear-gradient(to right,  #f4f5ff 0%,#81BA3D 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5ff', endColorstr='#81BA3D',GradientType=1 ); /* IE6-9 */
}
.toggler-west-closed {
    background: #f4f5ff; /* Old browsers */
    background: -moz-linear-gradient(left,  #f4f5ff 0%, #81BA3D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4f5ff), color-stop(100%,#81BA3D)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f4f5ff 0%,#81BA3D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f4f5ff 0%,#81BA3D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f4f5ff 0%,#81BA3D 100%); /* IE10+ */
    background: linear-gradient(to right,  #f4f5ff 0%,#81BA3D 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5ff', endColorstr='#81BA3D',GradientType=1 ); /* IE6-9 */ 
}
.toggler-north-open { 
    background: #f4f5ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f5ff 0%, #81BA3D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f5ff), color-stop(100%,#81BA3D)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4f5ff 0%,#81BA3D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4f5ff 0%,#81BA3D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4f5ff 0%,#81BA3D 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4f5ff 0%,#81BA3D 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5ff', endColorstr='#81BA3D',GradientType=0 ); /* IE6-9 */

}
.toggler-north-closed { 
    background: #f4f5ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f4f5ff 0%, #81BA3D 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f5ff), color-stop(100%,#81BA3D)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f4f5ff 0%,#81BA3D 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f4f5ff 0%,#81BA3D 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f4f5ff 0%,#81BA3D 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f4f5ff 0%,#81BA3D 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f5ff', endColorstr='#81BA3D',GradientType=0 ); /* IE6-9 */
 }

.resizer-west-open { background-color: #81BA3D; }
.resizer-west-closed { background-color: #81BA3D; }
.resizer-north-open { background-color: #F1F9EC; }
.resizer-north-closed { background-color: #F1F9EC; }
