﻿
.btnLogDisabled
{
    color: Black;
    background-color: #E3E8E1;
    border-color: #E3E8E1;
    height: 29px;
    width: 200px;
    float: left;
    font-size: 12pxd padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.btnLog
{
    color: White;
    background-color: #66C42F;
    border-color: #66C42F;
    height: 29px;
    width: 200px;
    float: left;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
}

.caja
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin: 5px 0px 5px 0px;
    padding: 0px 10px 0px 10px;
    width: 90%;
    height: 25px;
}
.error
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #Red;
}
.centrar
{
    position: absolute; /*nos posicionamos en el centro del navegador*/
    top: 50%;
    left: 50%; /*determinamos una anchura*/
    width: 650px; /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left: -325px; /*determinamos una altura*/
    height: 380px; /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top: -300px; /*border: 3px solid #CCCCCC;*/
    padding: 0px;
}
.Loggin
{
    width: 100%;
    height: 380px;
}

.header
{
    height: 20px; /*background-image: url(../Image/loggin/header.png);*/
}

.FooterL
{
    padding-top: 4px;
    text-align: center;
    font-size: smaller;
    color: #66C42F;
    border-top: 3px solid #66C42F;
    text-align: left; /*background-image: url(../Image/loggin/footer.png);*/
}

.FooterR
{
    padding-top: 4px;
    text-align: center;
    font-size: smaller;
    color: #66C42F;
    border-top: 3px solid #66C42F;
    text-align: right; /*background-image: url(../Image/loggin/footer.png);*/
}


.Iconos
{
    height: 50px;
}
.Logo
{
    text-align: center;
}
.user
{
    padding-left: 20px;
    padding-top: 50px;
    vertical-align: top;
}
.IconosT
{
    height: 50px;
    width: 100%;
}
.labels
{
    width: 100%;
    color: Black;
}

a
{
    color: #669933;
    border: none;
}
a:hover
{
    text-decoration: none;
    border: none;
    color: #006600;
}

image
{
    border: none;
    vertical-align: bottom;
}
table tr.rowA
{
    background-color: #FFFFFF;
    color: inherit;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: center;
}
table tr.rowB
{
    background-color: #FFFFFF;
    color: inherit;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: left;
}
.headerForm
{
    background-color: #6EA528;
    color: #ffffff;
    font-family: Arial, Helvetica;
    font-size: 14px;
}
input
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 80%;
}
.sT
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #0066FF;
    font-weight: bold;
}

.WaterMarkOn
{
    color: #999;
    background-color: #E2EAF4;
    font-style: italic;
}
