﻿body {
}

.modalBackground 
    {
        background-color: #CCCCCC;
        filter: alpha(opacity=30);
        opacity: 0.6;
    }

 th {
        text-align: center;
    }

h3
    {
        font-size: large;
        font-weight: 700;
        text-align: center;
        padding-left: 160px;
    }
 
.modalPopup
    {
        background-color: #FFFFFF;
        width: 300px;
        border: 3px solid #0DA9D0;
        border-radius: 12px;
        padding:0
      
    }
    .modalPopup .header
    {
        background-color: #81BA3D;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .modalPopup .body
    {
        min-height: 50px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
