﻿body
{
    margin: 0px;
    font-family: Verdana; /*overflow: auto;*/
    width: 100%;
}
#ContenHeader
{
    background-image: url(../Image/Proveedores/UpRight.png);
    background-repeat: repeat;
    background-position: 50% 50%;
    height: 125px;
}

#HeaderCenter
{
    background-image: url("../Image/Proveedores/EncabezadoPaginaExterna.png");
    height: 125px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
}

#ContenFooter
{
    background-image: url(../Image/Proveedores/DownRight.png);
    background-repeat: repeat;
    background-position: 50% 50%;
    height: 125px;
}

#FooterCenter
{
    background-image: url(../Image/Proveedores/PiePaginaExterna.png);
    height: 125px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
}

#fT
{
    width: 100%;
    background-color: #F6F6F6;
    border-top: solid 1px #DFDFDF;
    border-bottom: solid 1px #DFDFDF;
}

/*ERROR*/
.lbE
{
    display: block;
    width: 90%;
    color: #CC0000;
    border: solid 1px #CC0000;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #FFECEC;
}
.lbEM
{
    display: block;
    width: 90%;
    color: #112222;
    border: solid 1px #112222;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #aaeecc;
}

input[type="submit"]:disabled
{
    color: White;
    background-color: #B1B1B1;
    border-color: #B1B1B1;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari y Chrome */
}

/***********Estilos Botones**************+*/
input[type="submit"]
{
    color: White;
    background-color: #B4C800;
    border-color: #B4C800;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari y Chrome */
}


#Footer
{
    /*min-height: 700px;*/
}
/***********Fin Estilos Botones**************+*/


/************Grillas****************/

.headerForm
{
    background-color: #8FBB12;
    color: #ffffff;
    font-family: Arial, Helvetica;
    font-size: 0.93em;
    font-weight: bold;
}
.headerForm a
{
    color: #ffffff;
    text-decoration: none;
}

table tr.rowBG
{
    background-color: #fdfdfd;
    color: inherit;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: center;
}

table tr.rowBG td
{
    text-align: left;
    padding: 5px;
    padding-right: 0px;
    padding-top: 0px;
}
table tr.rowB td
{
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 0px;
}

table tr.rowAG
{
    background-color: #f5f5f5;
    color: inherit;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: center;
}
table tr.rowAG td
{
    text-align: left;
    padding: 5px;
    padding-right: 0px;
}

table tr.rowB
{
    background-color: #fdfdfd;
    color: inherit;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: center;
}

table tr.rowA
{
    background-color: #f5f5f5;
    color: inherit;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: center;
}
table tr.rowA td
{
    text-align: left;
    padding-bottom: 5px;
    padding-top: 0px;
    padding-right: 0px;
}
/***********Fin Grillas************/

/***********Controles**************/

select
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 80%;
}
input[type="Text"]
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 80%;
}
textarea
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 80%;
}
radio
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000; /*width: 80%;*/
}
input[type="radio"]
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 20px;
}
input[type="checkbox"]
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    width: 20px;
}
a img
{
    border: none;
}
img
{
    border: none;
}

/**********Fin Controles***********/

/************** LOADING ********************/
.Loading
{
    background: rgba(253, 253, 253, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
}

.Loading img
{
    margin: 10% 50%;
}
/************** Fin LOADING ****************/


.CustomValidatorCalloutStyle div, 
.CustomValidatorCalloutStyle td { 
    border:solid 1px white;
    background-color: #B4C800;  
    color:white;    
    font-size: 11px;
}

.CustomValidator
        {
            position: relative;
            margin-left: -80px;
        }
        
        .CustomValidator div
        {
            border: solid 1px Black;
            background-color: LemonChiffon;
            position: relative;
        }
        
        .CustomValidator td
        {
            border: solid 1px Black;
            background-color: LemonChiffon;
        }
        
        .CustomValidator .ajax__validatorcallout_popup_table
        {
            display: none;
            border: none;
            background-color: transparent;
            padding: 0px;
        }
        
        .CustomValidator .ajax__validatorcallout_popup_table_row
        {
            vertical-align: top;
            height: 100%;
            background-color: transparent;
            padding: 0px;
        }
        
        .CustomValidator .ajax__validatorcallout_callout_cell
        {
            width: 20px;
            height: 100%;
            text-align: right;
            vertical-align: top;
            border: none;
            background-color: transparent;
            padding: 0px;
        }
        
        .CustomValidator .ajax__validatorcallout_callout_table
        {
            height: 100%;
            border: none;
            background-color: transparent;
            padding: 0px;
        }
        
        .CustomValidator .ajax__validatorcallout_callout_table_row
        {
            background-color: transparent;
            padding: 0px;
        }
        
        .CustomValidator .ajax__validatorcallout_callout_arrow_cell
        {
            padding: 8px 0px 0px 0px;
            text-align: right;
            vertical-align: top;
            font-size: 1px;
            border: none;
            background-color: transparent;
        }
        
        .CustomValidator .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv
        {
            font-size: 1px;
            position: relative;
            left: 1px;
            border-bottom: none;
            border-right: none;
            border-left: none;
            width: 15px;
            background-color: transparent;
            padding: 0px;
        }
        
        .CustomValidator .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div
        {
            height: 1px;
            overflow: hidden;
            border-top: none;
            border-bottom: none;
            border-right: none;
            padding: 0px;
            margin-left: auto;
        }
        
        .CustomValidator .ajax__validatorcallout_error_message_cell
        {
            font-family: Verdana;
            font-size: 10px;
            padding: 5px;
            border-right: none;
            border-left: none;
            width: 100%;
        }
        
        .CustomValidator .ajax__validatorcallout_icon_cell
        {
            width: 20px;
            padding: 5px;
            border-right: none;
        }
        
        .CustomValidator .ajax__validatorcallout_close_button_cell
        {
            vertical-align: top;
            padding: 0px;
            text-align: right;
            border-left: none;
        }
        
        .CustomValidator .ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv
        {
            border: none;
            text-align: center;
            width: 10px;
            padding: 2px;
            cursor: pointer;
        }

.FondoAplicaciones
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    cursor: wait;
}
        
.PanelCOntrasenia {
    background-color: #A6D665;
    margin: 0 auto;
}

/*********************************Estilos Acordeon***********************************/
.accordionHeader {  
    border: 1px solid #2F4F4F;  
    color: white;  
    background-color: #81BA3D;  
    font-family: Arial, Sans-Serif;  
    font-size: 12px;  
    font-weight: bold;  
    padding: 5px;  
    margin-top: 5px;  
    cursor: pointer;
    text-align:left;
}  
          
.accordionHeaderSelected {  
    border: 1px solid #2F4F4F;  
    color: white;  
    background-color: #81BA3D;  
    font-family: Arial, Sans-Serif;  
    font-size: 12px;  
    font-weight: bold;  
    padding: 5px;  
    margin-top: 5px;  
    cursor: pointer;  
}  
          
.accordionContent {  
    /*background-color: #81BA3D;  */
    border: 1px dashed #2F4F4F;  
    border-top: none;  
    padding: 5px;  
    padding-top: 10px;  
    
}  
/*********************************fin Estilos Acordeon***********************************/