﻿.cbRegistroDenuncia {
    display: inline-block;
    border-width: 1px;
    background-color: aliceblue;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}

.chkAcepto {
    border: 1px solid black;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 5px;
    margin-left: 0px;
    width: 110px;
    text-align: center;
}

.DescripcionDenuncia {
    width: 100%;
    max-width: 100%;
}

.GrillaOtrosDocs {
    color: #ffffff;
    text-align: center !important;
}

.tdTitulos {
    font-family: Arial;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: thin;
    padding-left: 5px;
    background-color: #81BA3D;
}

.lblDocumentos {
    width: 650px;
    max-width: 650px;
    padding-right: 10px;
    word-break: break-word;
    overflow-x: auto;
    padding-top: 12px !important;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}

.btnRegistroTercero {
    position: relative !important;
    left: 85% !important;
    display: block !important;
    width: 115px;
}
