﻿<%@ Page Title="" Language="C#"  AutoEventWireup="true" CodeFile="MostrarArchivo.aspx.cs" Inherits="Page_Proveedor_Archivo_MostrarArchivo" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Impresion</title>
</head>
<body>
<script language="JavaScript" type="text/javascript">
    function doPrint() {
        document.all.item("noprint").style.visibility = 'hidden';
        window.print();
        document.all.item("noprint").style.visibility = 'visible';
    }
 </script>
   <form id="form1" runat="server">
        <iframe src="ObtenerArchivo.aspx" width="100%" height="600px"></iframe>        
        <%--<div id="noprint">
            <input type="button" id="btnPrint" name="btnPrint" value="imprimir" onclick = "doPrint();" />
        </div>--%> 
   </form>
</body>
</html>