﻿<%@ Page Title="" Language="C#" MasterPageFile="~/General/General/Master/main2.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Page_General_Inicio_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphCont" Runat="Server">
    <p>
        Bienvenido</p>
</asp:Content>


