﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucDocumentoAdjunto.ascx.cs" Inherits="Page_Proveedor_UserControl_ucDocumentoAdjunto" %>
<table>
    <tr>
        <td>
            Descripción:
        </td>
        <td>
            <asp:TextBox ID="txtDescripcion" runat="server" Width="200px"></asp:TextBox>
        </td>
        <td>
            <asp:FileUpload ID="fuArchivoDocumento" runat="server" Width="300px" />
        </td>
    </tr>
</table>
