﻿<%@ Page Title="" Language="C#" MasterPageFile="~/General/General/Master/main2.master" AutoEventWireup="true" CodeFile="List.aspx.cs" Inherits="Page_Denuncias_RadicarDenuncias_List" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphCont" Runat="Server" >
    <div id="divProccesMaker" runat="server" style="height:1050px;"/>
</asp:Content>


