﻿<%@ Page Title="" Language="C#" MasterPageFile="~/General/General/Master/main2.master" AutoEventWireup="true" CodeFile="General.aspx.cs" Inherits="General_General_General" %>
<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphCont" Runat="Server">

 <div align="center">

        <rsweb:ReportViewer ID="rvDiagramaGantt" runat="server" Visible="true"  
            Width="90%" ProcessingMode="Remote">
        </rsweb:ReportViewer>    
    </div>    
</asp:Content>

