<%@ Page Title="" Language="C#" MasterPageFile="~/General/General/Master/main2.master" AutoEventWireup="true" CodeFile="Detail.aspx.cs" Inherits="Page_RepartoContratos_Detail" %>
<%@ Register src="../UserControl/ucContratoDetail.ascx" tagname="ucContratoDetail" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphCont" runat="Server">
<asp:HiddenField ID="hfIdContrato" runat="server" />
<div id="pnDetailContratos">
    <uc1:ucContratoDetail ID="ucContratoDetail1" runat="server" />
</div>
    <%--<table width="90%" align="center">
    </table>--%>
</asp:Content>
