﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uscImageFromBD.ascx.cs"
    Inherits="General_General_Control_uscImageFromBD" %>
<div style="width: 100%">
    <table>
        <tr>
            <td>
                <asp:Image ID="Image1" runat="server" Width="120px" Height="120px" />
            </td>
        </tr>
    </table>
</div>
