﻿<%@ Page Title="" Language="C#" MasterPageFile="~/General/General/Master/MasterProveedores.master" AutoEventWireup="true" CodeFile="blank.aspx.cs" Inherits="Page_Proveedor_blank" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPrincipal" Runat="Server">
</asp:Content>

