﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="VentanaPopupSupervision.master.cs"
    Inherits="Poveedor_VentanaPopupSupervision" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <base target="_self" />
    <title>: ICBF -  Supervision</title>
    <script src="../../../Scripts/sP.js" language="javascript" type="text/javascript"></script>
    <script src="../../../Scripts/jq.min.js" type="text/javascript"></script>
    <script src="../../../Scripts/scrollsaver.min.js" type="text/javascript"></script>
    <script src="../../../Scripts/script_jquery.js" type="text/javascript"></script>
    <link type="text/css" href="../../../Styles/global.css" rel="Stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <table cellpadding="0" cellspacing="0" id="h">
        <tr>
            <td id="hL">
                <img src="../../../Image/main_2/lg.png" alt="Instituto Colombiano de Bienestar Familiar" />
            </td>
            <td>
                <h1>
                    <asp:Label runat="server" ID="lblTit">Supervision</asp:Label></h1>
            </td>
            <td id="hI">
            </td>
            <td id="hB">
                &nbsp;
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" id="c">
        <tr>
            <td id="m" style="display: none">
                &nbsp;
            </td>
            <td id="t">
                &nbsp;
            </td>
            <td id="f">
                <table cellpadding="0" cellspacing="0" id="fT">
                    <tr>
                        <td>
                            <h2>
                                <asp:Image ID="imgPrograma" ImageUrl="~/Image/main/prog-edit.png" runat="server"
                                    alt="programa" CssClass="CI" />
                                <asp:Label ID="lblTitulo" runat="server"></asp:Label></h2>
                        </td>
                        <td id="fTb">
                            <asp:LinkButton ID="btnBuscar" runat="server" OnClick="btnBuscar_Click" ValidationGroup="btnBuscar">
                                                <img alt="Consultar" src="../../../Image/btn/list.png" title="Consultar" />
                            </asp:LinkButton>
                        </td>
                    </tr>
                </table>
                <asp:Label runat="server" ID="lblError" Visible="false" CssClass="lbE"></asp:Label>
                <div id="dvft">
                    <asp:ContentPlaceHolder ID="cphCont" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </td>
        </tr>
    </table>
    <div id="p">
        <table cellpadding="0" cellspacing="0" id="pT">
            <tr>
                <td id="pTa">
                    <asp:Label runat="server" ID="lblAuditoria"></asp:Label>
                </td>
                <td>
                    <span>Instituto Colombiano de Bienestar Familiar . © Todos los derechos reservados .
                        Colombia . 2012 </span>
                </td>
            </tr>
        </table>
    </div>
    </form>
    <script type="text/javascript">
        AjustarTodo();
    </script>
</body>
</html>
