﻿<%@ Page Title="" Language="C#" MasterPageFile="~/General/General/Master/main2.master" AutoEventWireup="true" CodeFile="Detail.aspx.cs" Inherits="Page_Concursales_NovedadesGestion_Detail" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphCont" runat="Server">
  
        <script type="text/javascript" language="javascript">

            function ConfirmarAccion(aprobar, estado, idProceso, idRegionalTraslado) {

                var mensaje;

                if (aprobar == '1')
                    mensaje = 'Esta seguro de que desea aprobar la novedad ?';
                else if (aprobar == '0')
                    mensaje = 'Esta seguro de que desea rechazar la novedad?';

                    if (confirm(mensaje)) {
                        muestraImagenLoading();
                        var url = '../../../Page/Concursales/Lupas/LupaGestionarNovedad.aspx?idProceso=' + idProceso + '&estado=' + estado+'&accion='+aprobar+'&idRegionalTraslado='+idRegionalTraslado;
                        window_showModalDialog(url, setReturnCambioEstato, 'dialogWidth:1250px;dialogHeight:600px;resizable:yes;');
                    }

                return false;
                }


                function setReturnCambioEstato() {
                    prePostbck(false);
                    __doPostBack('ObtenerCambioEstado', '');
                }

                function muestraImagenLoading() {
                    var imgLoading = document.getElementById("imgLoading");
                    imgLoading.style.visibility = "visible";
                }

                function ocultaImagenLoading() {
                    var imgLoading = document.getElementById("imgLoading");
                    imgLoading.style.visibility = "";
                }

                function prePostbck(imagenLoading) {
                    if (imagenLoading == true)
                        muestraImagenLoading();
                    else
                        ocultaImagenLoading();
                }

                 function ShowHistorico(idProceso) {

                     var url = '../../../Page/Concursales/Lupas/LupaHistoricoProceso.aspx?idProceso=' + idProceso;
                 window_showModalDialog(url, setReturnHistorico, 'dialogWidth:1250px;dialogHeight:600px;resizable:yes;');
             }

                 function setReturnHistorico() {

             }


        </script>

        <table width="90%" id="pnInfoSolicitud" runat="server" align="center" >
        <tr class="rowB">
            <td>
                Regional          
            </td>
            <td>
              <asp:Label id="lblRegional" runat="server"  Text="Regional Traslado" visible="false" />                      
            </td>
        </tr>
        <tr class="rowA">
            <td class="Cell">
                    <asp:TextBox ID="txtRegional" runat="server" Enabled="false" Width="80%"></asp:TextBox>
                </td>
                <td class="Cell">
                    <asp:TextBox ID="txtRegionalA" runat="server" Visible="false" Enabled="false" Width="80%"></asp:TextBox>
                </td>
            </tr>
        <tr class="rowB">
            <td colspan="2">
                Raz&oacute;n Social
            </td>
        </tr>
        <tr class="rowA">
            <td class="Cell" colspan="2">
                    <asp:TextBox ID="txtRazonSocial" runat="server" Enabled="false" Width="90%"></asp:TextBox>
                </td>
            </tr>
        <tr class="rowB">
            <td>
               Capital Inicial
            </td>
            <td>
               Intereses Inicial                                             
            </td>
        </tr>
        <tr class="rowA">
            <td class="Cell">
                    <asp:TextBox ID="txtCapitalInicial" runat="server" Enabled="false" Width="80%"></asp:TextBox>
                </td>
                <td class="Cell">
                    <asp:TextBox ID="txtInteresesInicial" runat="server" Enabled="false" Width="80%"></asp:TextBox>
                </td>
            </tr>
        <tr class="rowB">
            <td>
               Saldo Capital
            </td>
            <td>
               Saldo Intereses                                             
            </td>
        </tr>
        <tr class="rowA">
            <td class="Cell">
                    <asp:TextBox ID="txtSaldoCapital" runat="server" Enabled="false" Width="80%"></asp:TextBox>
                </td>
                <td class="Cell">
                    <asp:TextBox ID="txtSaldoIntereses" runat="server" Enabled="false" Width="80%"></asp:TextBox>
                </td>
            </tr>
        <tr class="rowB">
            <td colspan="2">
                Hist&oacute;rico Proceso                        
                 <asp:ImageButton ID="imgHistorico" runat="server" CssClass="bN" ImageUrl="~/Image/btn/icoPagBuscar.gif"
                       Style="cursor: hand" ToolTip="Ver Hist&oacute;rico" />        
            </td>
        </tr>
        <tr class="rowB">
            <td colspan="2">
                Documentos        
            </td>
        </tr>
        <tr class="rowA">
            <td colspan="2">
                <asp:GridView runat="server" ID="gvDocumentos" AutoGenerateColumns="False" AllowPaging="True"
                        GridLines="None" Width="100%"  CellPadding="0" Height="16px" DataKeyNames="IdDocumento"
                        >
                        <Columns>
                                <asp:TemplateField>
                                    <ItemTemplate>
                                     <asp:HyperLink ID="lnkDetails" ImageUrl="~/Image/btn/pdf.png" runat="server" Target="_blank" NavigateUrl='<%# Eval("NombreDocumento", "~/Page/Contratos/DescargarArchivo/DescargarArchivo.aspx?fname={0}&tipo=ProcesosConcursales") %>'>Archivo</asp:HyperLink>
                                    </ItemTemplate>
                                </asp:TemplateField>  
                                <asp:BoundField HeaderText="NombreOriginal" DataField="NombreOriginal" />
                                <asp:BoundField HeaderText="Tipo de Documento" DataField="TipoDocumento" />
                                <asp:BoundField HeaderText="Tipo de Publicac&oacute;n" DataField="TipoPublicacion"  />
                                <asp:BoundField HeaderText="Medio de Publicaci&oacute;n" DataField="MedioPublicacion"  />
                        </Columns>
                        <AlternatingRowStyle CssClass="rowBG" />
                        <EmptyDataRowStyle CssClass="headerForm" />
                        <HeaderStyle CssClass="headerForm" />
                        <RowStyle CssClass="rowAG" />
                    </asp:GridView>
            </td>
        </tr>
        </table>

        <asp:HiddenField ID="hfIdProceso" runat="server" />
        <asp:HiddenField ID="hfCodigoEstado" runat="server" />
        <asp:HiddenField ID="hfAccion" runat="server" />

</asp:Content>
<asp:Content ID="Content2" runat="server" contentplaceholderid="HeadContentPlaceHolder">
    <style type="text/css">
        .auto-style1 {
            height: 27px;
        }
    </style>
</asp:Content>

