﻿<%@ Page Title="" Language="C#" MasterPageFile="~/General/General/Master/VentanaPopup.master" AutoEventWireup="true" CodeFile="ConsultarDocumento.aspx.cs" Inherits="Page_Proveedor_Integrantes_ConsultarDocumento" %>
<%@ Register Src="../UserControl/ucDocumentosIntegrantes.ascx" TagName="docs" TagPrefix="uc2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphCont" runat="Server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <asp:UpdatePanel ID="upDocumento" runat="server">
        <ContentTemplate>
            <uc2:docs runat="server" ID="ucDocumentos" />
        </ContentTemplate>
    </asp:UpdatePanel>
</asp:Content>

