﻿<%@ Page Title="" Language="C#" MasterPageFile="~/General/General/Master/main2.master" AutoEventWireup="true" CodeFile="DescargarArchivo.aspx.cs" Inherits="Page_OAC_DescargarArchivo_DescargarArchivo" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphCont" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPrincipalButton" Runat="Server">
</asp:Content>

