﻿<%@ Page Title="" Language="C#" MasterPageFile="~/General/General/Master/Lupa.master" AutoEventWireup="true" CodeFile="LupaGarantias.aspx.cs" Inherits="Page_Contratos_Lupas_LupaContratos" %>

<%@ Register src="../UserControl/ucGarantiaDetail.ascx" tagname="ucGarantiaDetail" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphCont" Runat="Server">
<div id="pnUserControl" width="100%">
    
    

    <uc1:ucGarantiaDetail ID="ucGarantiaDetail1" runat="server" />
    
    

</div>
</asp:Content>

